@charset "utf-8";
body{
    font-family:'Heebo',sans-serif
}
nav{
    position:fixed;
    top:0;
    width: 100%;
    background:rgba(0,0,0,0.8);
    
}
nav>ul{
    display:flex;
    justify-content: space-around;
    padding:8px 30%;
}
nav>ul>li>a{
    font-size:15px;
    color:#fff;
}


h1 {
    margin: 10% auto -5%;
    text-align: center;
    font-size: 40px;
    font-family: heebob;
    color:rgba(0,0,0,0.8);
}
.box{
    width:65%;
    display:flex;
    justify-content: center;
    margin:0 auto 10%;
}
.box>*{
    display:flex;
    flex-direction:column;
    margin:20% 15px 0;
}
.colum1{
    width:38%;
}
.colum2{
    width:23%;
}
.colum3{
    width:33%;
}
img{
    margin-bottom:10px;
}
/* big은 사진 클릭했을 때 크게 보이게 하는 class */
.big{
    position: fixed;
    top: 30%;
    width: 600px;
    left: calc(50% - 300px );
}

