@charset "utf-8";

@font-face{
    font-family:'sc5';
    src:local('○'),
    url(../font/transfonter.org-20211222-014143/S-CoreDream-5Medium.woff) format('woff'),
    url(../font/transfonter.org-20211222-014143/S-CoreDream-5Medium.woff2) format('woff2');
}
@font-face{
    font-family:'sc6';
    src:local('○'),
    url(../font/transfonter.org-20211222-014143/S-CoreDream-6Bold.woff) format('woff'),
    url(../font/transfonter.org-20211222-014143/S-CoreDream-6Bold.woff2) format('woff2');
}
@font-face{
    font-family:'sc7';
    src:local('○'),
    url(../font/transfonter.org-20211222-014143/S-CoreDream-7ExtraBold.woff) format('woff'),
    url(../font/transfonter.org-20211222-014143/S-CoreDream-7ExtraBold.woff2) format('woff2');
}
@font-face{
    font-family:'sc8';
    src:local('○'),
    url(../font/transfonter.org-20211222-014143/S-CoreDream-8Heavy.woff) format('woff'),
    url(../font/transfonter.org-20211222-014143/S-CoreDream-8Heavy.woff2) format('woff2');
}
@font-face{
    font-family:'sc9';
    src:local('○'),
    url(../font/transfonter.org-20211222-014143/S-CoreDream-9Black.woff) format('woff'),
    url(../font/transfonter.org-20211222-014143/S-CoreDream-9Black.woff2) format('woff2');
}